body{
  margin: 0px;
}

/* Navbar section */

.mynav {
    position: fixed;
    width: 100%;
    height: 65px;

    line-height: 65px;
    text-align: center;
    z-index: 10;
}

.mynav div.mylogo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 10rem;
}

.mynav div.mylogo a {
    text-decoration: none;
    color: #fff;
    font-size: 5rem;
}

.mynav div.mylogo a:hover {
    color: #00E676;
}

.mynav div.mymain_list {
    height: 65px;
    float: right;
}

.mynav div.mymain_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mynav div.mymain_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.mynav div.mymain_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 3rem;
}

.mynav div.mymain_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.myhome {
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    /*background-image: url(bg.jpg);
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);*/

    background-position: center top;
	  background-size:cover;
}

.mynavTrigger {
    display: none;
}

.mynav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.thumbnail{
  border: 3px solid #ddd;
}

.row{
  padding-top: 50px;
  margin: 0px;
}

/*  POP UP */
.swal2-popup {
  font-size: 3rem;
}
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
    font-size: 2rem;
}
.swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
    font-size: 2rem;
}
/* button.swal2-cancel.swal2-styled {
  background-color: #2612e6;
}
button.swal2-confirm.swal2-styled {
  background-color: #2612e6;
} */

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mycontainer {
        margin: 0;
    }

}

@media screen and (max-width:768px) {
    .mynavTrigger {
        display: block;
    }
    span.mynavTrigger {
      position: relative;
      top: 20px;
      margin-right: 0px;
    }
    .mynav div.mylogo {
        /*margin-left: 15px;*/
        padding-left: 1rem;
    }
    .mynav div.mymain_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .mynav div.show_list {
        height: auto;
        display: none;
    }
    .mynav div.mymain_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .mynav div.mymain_list ul li {
        width: 100%;
        text-align: right;
    }
    .mynav div.mymain_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .mynav div.media_button {
        display: block;
    }
    .mynav div.mylogo a {
        font-size: 3rem;
    }

}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.mynavTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
}

.mynavTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.mynavTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.mynavTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.mynavTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.mynavTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.mynavTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.mynavTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}
